@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #e5e5e5;
    font-family: 'Open Sans', sans-serif;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.login-container{
    width:100%;
}
.form-signin {
    max-width: 330px;
    padding: 25px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.form-signin-heading {
    color: #555;
    font-size: 2.6em;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 15px;
    border-radius: 0;
}
.submit-button {
    width: 100%;
    -webkit-appearance: button;
    cursor: pointer;    
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    color: #fff;
    background-color: #33b5e5;
    border-color: #357ebd;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-indent: 0px;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
}
.submit-button:hover {
    background-color: #8583db;
}

.logo {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    margin-top: 5%;
    
}

img.login-logo {
    width:310px; 
    height:88px; 
    margin:0; 
    padding:0;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.loststuff{
  padding: 5px 0px 15px!important;
}
