@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

html, body{
	margin:0;
	padding:0;
	background-color:#e5e5e5;
    height: 100%;
    width: 100%;
}
/* --------------------------- General CSS     ----------------------------------- */

#wrapper{
	width:100%;
    height: 100%;
}
#content{
    height:100%;
    margin-left: 220px;
}
table {
    font-size: 1.2em;
    line-height: 1;
    font-weight: 300;
}
.right{
    float:right;
}
.left{
    float:left;
}
.fa-check-circle-o{
    color:#01AB0D;   
}
.fa-exclamation-triangle{
    color:#DF0101;
}
h1, h2, h3 {
    color: #555;
}
a{}
a:hover{}
a:visited{}

ul {
    -webkit-padding-start:0px;
}
.btn {
    opacity: 1;
    -webkit-transition: 400ms; 
    -moz-transition-duration: 400ms; 
    -o-transition-duration: 400ms;
    transition-duration: 400ms;
}
.btn-danger {
    margin-right: 8px;
}
/* --------------------------- END General CSS       ----------------------------------- */
/* --------------------------- Menu/nav CSS          ----------------------------------- */
#navPosition {
	background-color:#fff;
	position: fixed;
    width: 220px;
	height:100%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    float: left;
    margin-top: 42px;
}
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-size: 18px;
}
#cssmenu {
    width: 100%;
    float: left;
    height: 100%;
    min-height: 100%;
}
#cssmenu a {
    line-height: 1.5;
}
#cssmenu > ul > li > a {
    font-size: 25px;
    font-weight: bold;
    display: block;  
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    position: relative;
}
#cssmenu > ul > li > a > span {
    background: #fff;
    padding: 10px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#cssmenu > ul > li > a > span:hover {
    background: #33b5e5;
    color: #FFF;
}
#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.active {
    border-bottom: none;
}
#cssmenu > ul > li.active > a {
    color: #333;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#cssmenu span.cnt {
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: #666; !important!
}
#cssmenu ul ul {
    display: none;
}
#cssmenu ul ul a {
    padding: 10px;
    display: block;
    color: #333;
    font-size: 16px;
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-weight: 300;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#cssmenu ul ul a:hover {
    color: #33b5e5;
}
#cssmenu ul ul li:first-child {
    border-top: 1px solid #ddd;
}
#cssmenu ul ul li:last-child {
    border-bottom: 1px solid #ddd;
}
.active-page{
    background-color: #333 !important;
    color: #fff !important;
}
#info{
    text-align:center;
    padding:5px;
    font-size:0.8em;
    position: absolute;
    bottom:0;
    width:220px;
    height: 100px;
    margin-bottom: 42px;
}
#info .sidebar-logo{
    width:100%;
}
/* --------------------------- END MENU CSS       ----------------------------------- */
/* --------------------------- USER MANAGMENT CSS ----------------------------------- */
#usersManagement{
    margin-top: 10px;
}
.rowPerUser{
    width:100%;
    height:100px;
    background-color:rgba(0, 0, 0, 0.2);
}
.topMenu{
    padding:20px 0px;
}
/* --------------------------- END USER MANAGMENT CSS ------------------------------- */
/* --------------------------- BEGIN PREMISSION CSS --------------------------------- */
#innerContent{
    padding: 60px;
    min-width: 500px;
    max-width: 1200px;
    height: 100%;
    padding-bottom: 30px;
}
/* --------------------------- EIND PERMISSION CSS ---------------------------------- */
/* --------------------------- PAGES CSS           ---------------------------------- */
.sortable-li-padding{
    padding: 8px;
    position: absolute;
}
.page-options{
    margin-top:35px;
    margin-left:30px;
    position:absolute;
    float:left;
    font-size:15px;
    color:#28CAF3!important;
}
.page-overview-title{
    float:left;
    position:relative;
}
.pages-button{
    float:right;
    margin-top: 14px;
}
.add-media{
    margin-bottom:3px;
}
#upload-dialog{
    position:fixed;
    top:30px;
    left:30px;
    right:30px;
    bottom:30px;
    z-index 150000;
    background:#fff;
    display:none;
}
.upload{
    margin-left:50px;
    margin-top:50px;
}
.upload-dialog-close{
    width:20px;
    float:right;
    height:20px;
    margin-right:10px;
    margin-top:10px;
}
.upload-dialog-heading{
    margin-top:-20px;
    padding-left:50px;
    background:#F7F7F7;
    height:121px;
    border-bottom:1px solid #ddd;
}
.upload-dialog-heading h1{
    padding-top:20px;
}
.glyphicon-remove:hover{
    color:red;
    cursor:pointer;
}
/* --------------------------- END PAGES CSS       ---------------------------------- */
/* --------------------------- Dashboard CSS       ---------------------------------- */
.dashBlock{
    width: 40%;
    background: #fff;
    float: left;
    line-height: 2em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    min-height: 350px;
}
.dashBlockHeading{
    font-size: 1.5em;
    color: #555;
    padding: 10px;
    border-bottom: 1px solid #D7D7D7;
    font-weight: 300;
}
.dashBlockContent{
    padding: 5px;
}
.dashBlockRow{
    
}
.dashBlockRowLeft{
    width:60%;
    float:left;
}
.dashBlockRowRight{
    width:40%;
    float:right;
    font-weight:700;
}
/* --------------------------- END Dashboard CSS   ---------------------------------- */
/* --------------------------- Begin user activation CSS   -------------------------- */
#panel{
  height:800px;
  width:600px;
  background-color:white;
  box-shadow:0px 1px 5px black;
  margin:50px auto;
}
#panel h1{
  padding:20px;
}
#fieldsholder{
  margin:auto;
  width:90%;
}
/* --------------------------- END user activation CSS   -------------------------- */
<<<<<<< HEAD
=======
#welcomeUser{
  margin-right:50px;
  float: right;
}
#welcomeUser h3{
     color:rgba(40, 202, 243, 1);
     font-size:14px;
     line-height: 4px;
}
#welcomeUser a{
     text-decoration:none;
     color:rgba(40, 202, 243, 1);
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
}
#welcomeUser a:hover {
   color:#FFF;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
/* --------------------------- BEGIN Editor CSS   -------------------------- */
.CodeMirror {
  height: 600px!important;
}
/* --------------------------- END Editor CSS   -------------------------- */
.btndisable {
     cursor:not-allowed!important;
}
/* --------------------------- BEGIN topBar CSS   -------------------------- */
#topBar {
    margin: 0;
    padding: 0;
    height: 42px;
    background-color: #000;
    width: 100%;
    position: fixed;
}
#returnweb {
    margin-left: 20px;
    float: left;
    height: 100%;
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-align:center;
    
}
#returnweb a {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size:18px;
    line-height: 1px;
    color:rgba(40, 202, 243, 1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#returnweb a:hover {
    text-decoration:none;
    color: #FFF;
}
#welcomeUser {
    margin-right:20px;
    float: right;
    height: 100%;
    
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-align:center;
}
#welcomeUser h3 {
    color:rgba(40, 202, 243, 1);
    font-size:18px;
    line-height: 1px;
}
#welcomeUser a {
    text-decoration:none;
    color:rgba(40, 202, 243, 1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#welcomeUser a:hover {
    color:#FFF;
}
/* --------------------------- END topBar CSS   -------------------------- */
=======
/* --------------------------- END topBar CSS   -------------------------- */
/* --------------------------- BEGIN install CSS   -------------------------- */
.install-menu{
    margin-top:40px;
}
.install-nav{
    list-style: none;
    padding: 20px;
}
ul.install-nav li{
    padding: 10px;
    font-size: 18px;
    cursor: default;
}
.install-active{
    color: #428bca;
    background: #ECECEC;
}
.install-container{
    width:50%;
}
.error{
    display: none;
    margin-left: 10px;
}      
 
.error_show{
    color: red;
    margin-left: 10px;
}
input.invalid, textarea.invalid{
    border: 2px solid red;
}
 
input.valid, textarea.valid{
    border: 2px solid green;
}
>>>>>>> c7fcd9850bc2893f75c1e72643b8f23f34fa9386
